:root {
  --font-family-heading: "Anton", sans-selif;
  --font-family-body: "Noto Sans JP", sans-selif;
  --white: #fffefc;
  --black: #020911;
  --accent-yellow: #f2e52e;
  --accent-red: #f20574;
  --background-black: #171525;
  --background-navy: #030427;
  --form-background-yellow: #fffab9;
  --form-placeholder-gray: #ad9783;
  --form-border-red: #df6da2;
  --button-hover-red: #f043a5;
  --course-hover-yellow: #f4e877;
  --hero-overlay: rgba(57, 24, 111, 0.4);
  --course-overlay: rgba(32, 8, 19, 0.63);
}

/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
}

img {
  display: block;
}

/* header */
.header {
  background-color: var(--background-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-logo-wrapper {
  margin: 0;
  padding: 15px 0;
}

.header-logo {
  height: 50px;
}

@media (max-width: 750px) {
  .header {
    height: 60px;
  }

  .header-logo {
    height: 30px;
  }

  .hero-img {
    height: 400px;
  }
}

/* hero */
.hero {
  background-image: url(./img/hero.png);
  background-size: cover;
  margin-top: 80px;
  padding: 94px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hero-overlay);
  position: absolute;
}

.hero-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--accent-yellow);
  z-index: 1;
}

.hero-main-copy {
  font-family: var(--font-family-heading);
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin: 0;
}

.hero-main-copy-accent {
  color: var(--accent-red);
}

.hero-sub-copy {
  font-family: var(--font-family-body);
  font-size: 16px;
  margin: 0;
}

@media (max-width: 750px) {
  .hero {
    margin-top: 60px;
    padding: 40px 20px;
  }

  .hero-container {
    justify-content: flex-start;
  }

  .hero-texts {
    gap: 20px;
  }
}
